<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	{{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link active" href="/saved">Saved Articles</a>
			<a class="nav-item nav-link" id="scrape">SCRAPE!</a>
		</div>
	</div>
</nav>
<div class="header jumbotron">
	<h1> Daily Scrape!</h1>
</div>

<div class="container-fluid">
	<div id="saved-articles" class="card">
		{{#each articles}}
		<div id="{{this._id}}" class="card">
			<div class="card-header">
				<h4> <a href='http://www.tucson.com/ {{this.link}}' target="blank" class="card-link">{{this.title}}</a>
					<span>
						<!-- Button trigger modal -->
						<button id="{{this._id}}" type="button" class="addNote action-btn btn btn-primary" data-toggle="modal" data-target="#note">
							Add Note
						</button>
						<button id="{{this._id}}" type="button" class="viewNote action-btn btn btn-primary" data-toggle="modal" data-target="#view-note">
							View Notes
						</button>
						<button id="{{this._id}}" class="delete action-btn btn btn-primary">Delete Article</button>
					</span>
				</h4>
			</div>
		</div>
		{{/each}}
	</div>
</div>

<!--Add Note Modal -->
<div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="note-title"></h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label>Title</label>
				<input id="note-add-title"></input>
				<textarea id="note-body" rows="10" class="note-modal" placeholder="Add text here"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button data-id="" id="modal-save" type="button" class="save-note btn btn-primary" data-dismiss="modal">Save changes</button>
				{{!-- <button data-id="" class="delete-note btn btn-primary">Delete Note</button> --}}
			</div>
		</div>
	</div>
</div>

<!--View Note Modal -->
<div class="modal fade" id="view-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="noteTitle"></h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5 id="view-note-title">No note found</h5>
				<p id="view-note-body" class="note-modal"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>